# Notebook for Dashboard Analytics

In [6]:
import psycopg2
import pandas as pd
from configparser import ConfigParser

In [2]:
config = ConfigParser(interpolation=None)
config.read('./.ini')
DBNAME = config.get('postgres', 'DBNAME')
USER = config.get('postgres', 'USER')
PASSWORD = config.get('postgres', 'PASSWORD')
HOST = config.get('postgres', 'HOST')
PORT = config.get('postgres', 'PORT')

In [3]:
conn = psycopg2.connect(
    host=HOST,
    database=DBNAME,
    user=USER,
    password=PASSWORD
)

In [4]:
cur = conn.cursor()

In [5]:
# Get columns in table
cur.execute(
    """
    SELECT column_name
    FROM information_schema.columns 
    WHERE table_schema = 'public' 
    AND table_name = 'jobs_job'
    ;
    """
)
result = cur.fetchall()
cols = [ r[0] for r in result ]

In [7]:
# Get job application data
cur.execute(
    """
    SELECT *
    FROM jobs_job
    ;
    """
)
result = cur.fetchall()

In [8]:
df = pd.DataFrame(result, columns=cols)

In [10]:
df.head(3)

,id,company,job_title,job_level,min_years,date_posted,date_applied,cover_letter,response,response_date
0,3,Open Road Integrated Media,Data Engineer,I,0,2021-04-25,2021-05-25,Yes,N,None
1,4,Rhino,Data Engineer,E,0,2021-05-28,2021-06-04,Yes,N,None
2,5,Radancy,Data Engineer,E,0,2021-05-28,2021-06-04,No,N,None